.instance-summary-card {
  font-size: 14px;
  font-family: Arial;
  border: outset;
  border-color: whitesmoke;
  border-width: 2px;
  margin-bottom: 5px;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background-color: var(--instance-summary-bg) !important;
}

.button-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 0;
  width: 22px;
  height: 22px;
}

.status-ok-card {
  border: outset;
  border-color: rgb(134, 255, 110);
  border-width: 2px;
  margin-bottom: 5px;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.status-ko-card {
  border: solid;
  border-color: rgb(255, 134, 110);
  border-width: 2px;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.top-card {
  border: none;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.instance-summary-row {
  display: flex;
  align-items: center;
}

.small-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
  line-height: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
