<mat-card class="instance-summary-card">
  <span class="instance-summary-row">
    <button mat-button class="button-card" (click)="fetchInstanceSummary()" matTooltip="Refresh">
      <mat-icon class="small-icon">refresh</mat-icon>
    </button>&nbsp;
    <span>{{instanceSummary.appname}}</span>&nbsp;
    <span>{{instanceSummary.version}}</span>&nbsp;
    <span>Qt {{instanceSummary.qtVersion}}</span>&nbsp;
    <span>{{instanceSummary.architecture}}</span>&nbsp;
    <span>{{instanceSummary.os}}</span>&nbsp;
    <span>DSP Rx {{instanceSummary.dspRxBits}}b</span>&nbsp;
    <span>Tx {{instanceSummary.dspTxBits}}b</span>&nbsp;
    <span>PID {{instanceSummary.pid}}</span>&nbsp;
    <span>#DS {{instanceSummary.devicesetlist.devicesetcount}}</span>
  </span>
</mat-card>
