<div>
  <table>
    <tr class="spectrum-control-row">
      <td>
        Dev
        <input type="number" class="device-number-input"
          [(ngModel)]="deviceIndex"
          (change)="onDeviceIndexChanged()"
          matTooltip="Device index"
          min=0 max=10 step=1
        >
      </td>
      <td>
        FFT Window
        <mat-select style="width:11ch;"
          [(value)]="settings.fftWindow"
          (selectionChange)="setFFTWindow()"
          matTooltip="FFT window function">
          <mat-option *ngFor="let fftWindow of fftWindows" [value]="fftWindow.value">
            {{fftWindow.viewValue}}
          </mat-option>
          <mat-select-trigger>
            <span>{{ getFFTWindowName() }}</span>
          </mat-select-trigger>
        </mat-select>
      </td>
      <td>
        FFT Size
        <mat-select style="width:7ch; "
          [(value)]="settings.fftSize"
          (selectionChange)="setFFTSize()"
          matTooltip="FFT size">
          <mat-option *ngFor="let fftSize of fftSizes" [value]="fftSize.value">
            {{fftSize.viewValue}}
          </mat-option>
          <mat-select-trigger>
            <span>{{ getFFTSizeName() }}</span>
          </mat-select-trigger>
        </mat-select>
      </td>
      <td>
        Avg mode
        <mat-select style="width:10ch; "
          [(value)]="settings.averagingMode"
          (selectionChange)="setAveragingMode()"
          matTooltip="Type of FFT averaging">
          <mat-option *ngFor="let averagingMode of averagingModes" [value]="averagingMode.value">
            {{averagingMode.viewValue}}
          </mat-option>
          <mat-select-trigger>
            <span>{{ getAvgeragingModeName() }}</span>
          </mat-select-trigger>
        </mat-select>
      </td>
      <td>
        Avg value
        <mat-select style="width:7ch; "
          [(value)]="settings.averagingValue"
          (selectionChange)="setAveragingValue()"
          matTooltip="Number of FFTs to average over">
          <mat-option *ngFor="let averagingValue of averagingValues" [value]="averagingValue.value">
            {{averagingValue.viewValue}}
          </mat-option>
          <mat-select-trigger>
            <span>{{ getAveragingValueName() }}</span>
          </mat-select-trigger>
        </mat-select>
      </td>
      <td>
        <button mat-button class="button-card" (click)="onDeviceIndexChanged()" matTooltip="Refresh">
          <mat-icon class="small-icon">refresh</mat-icon>
        </button>
      </td>
      <td>
        Srv
        <input type="string" class="spec-host"
          [(ngModel)]="settings.wsSpectrumAddress"
          (change)="setWsSpectrumAddress()"
          matTooltip="Spectrum server listening address"
        >
      </td>
      <td>
        :
        <input type="number" class="spec-port"
          [(ngModel)]="settings.wsSpectrumPort"
          (change)="setWsSpectrumPort()"
          matTooltip="Spectrum server listening port"
          min=-1024 max=65535 step=1
        >
      </td>
      <td>
        <button mat-button class="button-card button-margin"  (click)="startServer()" matTooltip="Start server">
          <mat-icon class="small-icon">play_arrow</mat-icon>
        </button>
      </td>
      <td>
        <button mat-button class="button-card button-margin" (click)="stopServer()" matTooltip="Stop server">
          <mat-icon class="small-icon">stop</mat-icon>
        </button>
      </td>
      <td>
        <i class="fa fa-circle" style="font-size:14px; padding: 4px"
          [ngStyle]="{'color': getServerStatusColor()}"
          matTooltip="Server status">
        </i>
      </td>
    </tr>
  </table>
</div>
