<div>
    <span>
        <table>
            <tr>
                <td>
                    Ref
                    <input type="number" class="power-input"
                      [(ngModel)]="refLevelDb"
                      (change)="onPowerScaleChanged()"
                      min=-100 max=0 step=1
                    >
                    dB
                </td>
                <td>
                    Range
                    <input type="number" class="power-input"
                      [(ngModel)]="powerRangeDb"
                      (change)="onPowerScaleChanged()"
                      min=5 max=100 step=1
                    >
                    dB
                </td>
                <td>
                    FFT {{spectrum.fftSize}}
                </td>
                <td>
                    {{getLinLog()}}
                </td>
                <td>
                    {{getSpectrumDirection()}}
                </td>
                <td>
                    CF {{spectrum.centerFrequency}} Hz
                </td>
                <td>
                    BW {{spectrum.bandwidth}} Hz
                </td>
                <td>
                    TS {{getFormattedDate()}}
                </td>
                <td>
                    DT {{spectrum.elapsedMs}} ms
                </td>
            </tr>
        </table>
    </span>
    <div style="position:relative">
        <div style="position:relative">
            <canvas #cspectrum class="cspectrum"
                width={{getSpectrumWidth()}}
                height="{{getSpectrumHeight()}}"
                [style.left.px]="getSpectrumLeft()"
            ></canvas>
            <canvas #cspectrumGrid class="cspectrumGrid"
                width={{getSpectrumWidth()}}
                height="{{getSpectrumHeight()}}"
                [style.left.px]="getSpectrumLeft()"
            ></canvas>
            <canvas #cpowScale class="cpowScale"
                width="{{getPowScaleWidth()}}"
                height="{{getSpectrumHeight()}}"
            ></canvas>
            <canvas #cfreqScale class="cfreqScale"
                width={{getSpectrumWidth()}}
                height="18px"
                [style.top.px]="getSpectrumHeight()"
                [style.left.px]="getSpectrumLeft()"
            ></canvas>
            <canvas #cfreqUnits class="cfreqUnits"
                width={{getPowScaleWidth()}}
                height="18px"
                [style.top.px]="getSpectrumHeight()"
            ></canvas>
        </div>
        <canvas width={{width}} height="{{(width/4)+18}}"></canvas>
        <div style="position:relative">
            <canvas #cwaterfall class="cwaterfall"
                width={{getSpectrumWidth()}}
                height="{{getSpectrumHeight()}}"
                [style.left.px]="getSpectrumLeft()"
            ></canvas>
            <canvas #cwaterfallGrid class="cwaterfallGrid"
                width={{getSpectrumWidth()}}
                height="{{getSpectrumHeight()}}"
                [style.left.px]="getSpectrumLeft()"
            ></canvas>
            <canvas #ctimeScale class="ctimeScale"
                width="{{getPowScaleWidth()}}"
                height="{{getSpectrumHeight()}}"
            ></canvas>
        </div>
        <canvas width={{width}} height="{{(width/4)}}"></canvas>
    </div>
    <div>
    </div>
</div>


