.power-input {
    width: 6ch;
    margin: 1px;
    position: relative;
    bottom: 2px;
}

.port-input {
    width: 8ch
}

.uri-input {
  width: 20ch
}

.cspectrum {
    z-index: -2;
    position: absolute;
}

.cspectrumGrid {
    z-index: -1;
    position: absolute;
}

.cfreqScale {
    position: absolute;
}

.cfreqUnits {
    position: absolute;
}

.cpowScale {
    position: absolute;
}

.cwaterfall {
    z-index: -2;
    position: absolute;
}

.cwaterfallGrid {
    z-index: -1;
    position: absolute;
}

.ctimeScale {
    position: absolute;
}

td {
    background-color: rgb(230, 230, 210);
}